<% if user_signed_in? %>
    <h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
<% else%>
    <h1>Welcom Guest!</h1>
<% end%>
<p>Enjoy on out app!</p>

<%= link_to 'logout', :destroy_user_session, class: 'btn btn-primary', :method => :delete %>
