body {
  background: #eee;
}
h2 {
  margin-bottom: 30px;
}
blockquote {
  border-left-color: #ccc;
  footer {
    font-style: italic;
  }
}

.push-top {
  margin-top: 35px;
}
.push-bottom {
  margin-bottom: 35px;
}

